#comics{

    text-align: center;
    position: relative;
    background-color: $darkerGrey;
    
    .my_content{
        padding: 0px 450px;
        display: flex;
        flex-wrap: wrap;
      }
      
      .my_btn-light{
        color: white;
        background-color: $borderBottomActiveColor;
        border: 2px solid $darkerGrey;
        font-weight: bold;
        text-transform: uppercase;
        padding:10px 60px;
        margin: 20px 0px;
      
        &:hover{
          background-color: $myGrey;
        }
      }
      
    .my_comic-element{
        flex-basis: calc(100% / 6);
        padding-top: 50px;
        text-align: left;

        & h3 {
            color: white;
            text-transform: uppercase;
            padding-top: 15px;
        }
    }

    .my_comic-img{
        height: 200px;
        overflow: hidden;
    }

    .my_title-marker{
      position: absolute;
      top: -20px;
      left: 430px;
      z-index: 3;
      background-color: $borderBottomActiveColor;
      padding: 5px 20px;
      color: white;
      text-transform: uppercase;
    }
}