#my_features-section{
    background-color: $borderBottomActiveColor;
    padding: 50px 0px;
    
    .my_features{
        margin: 0px 250px;
        color: white;
    
        & ul{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
        }
    
        & ul li a{
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            display: flex;
            align-items: center;
        }
    
        & ul li a img{
            height: 45px;
            margin-right: 20px;
        }
    }
}